In [2]:
import pandas as pd
import sqlite3
from sqlite3 import connect
print('sqlite3 version:', sqlite3.sqlite_version)

sqlite3 version: 3.37.2

In [5]:
import pandas as pd
import sqlite3

# Assuming reindeer_run_results.xlsx is the file containing the data
# Read the Excel file into a pandas DataFrame
df = pd.read_excel('reindeer_run_results.xlsx')

# Create an in-memory SQLite database connection
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table in the in-memory database
df.to_sql('reindeer_run_results', conn, index=False, if_exists='replace')

# Define the SQL query
sql_query = """
SELECT name, rank
FROM reindeer_run_results
WHERE rank <= 7
ORDER BY rank
"""

# Execute the SQL query and fetch the results into a new DataFrame
results_df = pd.read_sql_query(sql_query, conn)

# Print the results
print(results_df)

# Close the connection (optional for in-memory, but good practice)
conn.close()

      name  rank
0   Dasher     1
1   Dancer     2
2  Prancer     3
3    Vixen     4
4    Comet     5
5    Cupid     6
6   Donner     7