In [2]:
import pandas as pd
import sqlite3

df1 = pd.read_excel('toy_delivery.xlsx')
df2 = pd.read_excel('toy_production.xlsx')

conn = sqlite3.connect(':memory:')

df1.to_sql('toy_delivery', conn, index=False, if_exists='replace')
df2.to_sql('toy_production', conn, index=False, if_exists='replace' )

# defining SQL query
sql_query = """
SELECT toy_id, toy_name
FROM toy_production
WHERE toy_id IN (
        SELECT toy_id
        FROM toy_delivery)
"""

# execute query and present in a dataframe
results_df = pd.read_sql_query(sql_query, conn)
print(results_df)

conn.close()

   toy_id          toy_name
0       1         Robot Dog
1       3   Building Blocks
2       5          Race Car
3       7         Train Set
4       8     Action Figure
5      10  Stuffed Elephant
6      12           Art Set